<div id="main_2" style="overflow-y: scroll;width: 21vw;" class="col-12">
    <div class="profile-card-2"><img style="max-width: 400px;width:400px;height: 100px;" src="../../assets/img/5 COSE SU.jpeg" class="img img-fluid img-responsive">
        <div class="profile-name">NASA-imagens<br />Curiosity</div>
    </div>

    <div class="profile-card-2">
        <a>
            <img style="max-width: 350px;width:350px;height: 100px;" src="../../assets/img/5 COSE SU.jpeg" class="img img-fluid img-responsive">
            <div class="profile-name">NASA-imagens<br />do dia </div>
        </a>
    </div>

    <div class="profile-card-2">
        <a [routerLink]="['/curiosity']">
            <img style="max-width: 400px;width:400px;height: 100px;" src="../../assets/img/5 COSE SU.jpeg" class="img img-fluid img-responsive">
            <div class="profile-name">NASA-imagens<br />mars hover </div>
        </a>
    </div>
</div>